/*
* styles for settings page
*/
#lmtttmpts_settings,
#lmtttmpts_blocked,
#lmtttmpts_blacklist,
#lmtttmpts_whitelist,
#lmtttmpts_log,
#lmtttmpts_statistics {
	padding-top: 15px;
}
#lmtttmpts_blocked + .bws-plugin-reviews,
#lmtttmpts_blacklist + .bws-plugin-reviews,
#lmtttmpts_whitelist + .bws-plugin-reviews,
#lmtttmpts_log + .bws-plugin-reviews,
#lmtttmpts_statistics + .bws-plugin-reviews {
	margin-top: 45px;
}
.lmtttmpts_hidden {
	display: none !important;
}
.lmtttmpts_settings label {
	padding-bottom: 15px;
}
#lmtttmpts_lock_options {
	padding-bottom: 15px;
}
td.lmtttmpts_align_top {
	vertical-align: top;
}
.lmtttmpts_block_message_block th,
.lmtttmpts_email_message_block th {
	padding-left: 20px;
}
.lmtttmpts_block_message_block tr td:first-child,
.lmtttmpts_email_message_block tr td:first-child {
	width: 200px;
}

.lmtttmpts_block_message_block td ul {
	margin: 0px;
}

#lmtttmpts_notify_options {
	table-layout: fixed;
	padding-bottom: 15px;
}
#lmtttmpts_interaction_settings th {
	max-width: 100%;
}
tr.lmtttmpts_whitelist,
.striped > tbody tr.lmtttmpts_whitelist {
	background-color: #CFFED6;
}
tr.lmtttmpts_blacklist,
.striped > tbody tr.lmtttmpts_blacklist {
	background-color: #FFD7D7;
}
tr.lmtttmpts_blocked,
.striped > tbody tr.lmtttmpts_blocked {
	background-color: #FFFCDC;
}
.lmtttmpts_options_table input,
.lmtttmpts_options_table_demo input {
	text-align: right;
}
.lmtttmpts-unit-measure {
	margin-left: 2px;
	font-weight: 900;
}
.lmtttmpts-edit {
	cursor: pointer;
	color: #0074a2;
	margin-left: 5px;
}
.lmtttmpts_options_table input[type='number'],
.lmtttmpts_options_table_demo input[type='number'] {
	width: 5em;
}
.lmtttmpts_edit_list_form table {
	padding: 5px 0 5px 5px 5px;
}
.lmtttmpts_block_message_block p,
.lmtttmpts_email_message_block p {
    margin-bottom: 0;
}
.lmtttmpts_align_top {
    max-width: 150px;
}

@media only screen and ( max-width: 785px ) {
	.lmtttmpts_align_top {
        max-width: none;
    }
    select[name="lmtttmpts_user_email_address"],
    input[name="lmtttmpts_email_address"] {
        margin-top: 5px;
    }
	.bws-plugins_page_limit-attempts p.search-box {
		position: static;
		margin-top: 10px;
	}
	.lmtttmpts_edit_list_form input[type="checkbox"] {
		margin: 5px 2px 5px 0;
	}
}
@media only screen and ( max-width: 450px ) {
	.lmtttmpts_edit_list_form,
	.lmtttmpts_edit_list_form table,
	.lmtttmpts_edit_list_form tbody,
	.lmtttmpts_edit_list_form tr,
	.lmtttmpts_edit_list_form td {
		display: block;
		width: inherit;
		box-sizing: border-box;
	}
	.lmtttmpts_edit_list_form table {
		padding-right: 5px;
	}
	.lmtttmpts_edit_list_form select,
	.lmtttmpts_edit_list_form input[type="text"] {
		width: 100%;
	}
	.lmtttmpts_edit_list_form .subsubsub {
		display: inline-block;
		float: none;
	}
	.lmtttmpts_edit_list_form .subsubsub li {
		float: left;
	}
	.bws-plugins_page_limit-attempts .tablenav.bottom .displaying-num {
		display: block;
		position: static;
		margin-bottom: 10px;
	}
}